<h3>Contacts List</h3>
<hr />

<div class="form-group row">
    <label class="col-sm-1 col-form-label">Filter:</label>
    <div class="col-sm-11">
        <input type="text" class="form-control" [(ngModel)]="filter">
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Image</th>
            <th>Name</th>
            <th>Phone</th>
            <th>E-mail</th>
            <th>Date</th>
            <th>Description</th>
            <th>Rating</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let contact of filteredContacts">
            <td>{{contact.id}}</td>
            <td>
                <img [src]="contact.image" class="image">
            </td>
            <td>{{contact.name | uppercase}}</td>
            <td>{{contact.phone | replace: '-' : ' '}}</td>
            <td>{{contact.email}}</td>
            <td>{{contact.date | date: 'dd/MM/yyyy'}}</td>
            <td>{{contact.description}}</td>
            <td>
                <app-stars [rating]="contact.rating" [title]="contact.rating"></app-stars>
            </td>
            <td></td>
        </tr>
    </tbody>
</table>